 * {
    font-size: 20px;
    text-align: center;
    font-family: monospace;

 }
 html {
    background-image: url(bussines.jpg);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
 }
 :root {
   --cor1: rgb(212, 244, 255);
   --cor2: rgb(232, 179, 255); 
 }
 header {
   margin-bottom: 16em;
 }
 nav {
   margin-bottom: 5.5em;
 }
 nav p {
   font-family:orbitron;
   color: white;
   text-shadow:black 0.1em 0.1em 0.2em;
   font-size: 17px;
   margin-bottom: 2em;
 }
 nav a {
   border: 1px rgb(255, 255, 255) solid;
   text-shadow: black 0.1em 0.1em 0.15em;
   font-size: 1.2em;
   border-radius: 3px;
   padding: 1px 10px;
   background-color: rgba(255, 255, 255, 0.2);
 }
 h1 { 
   font-family: 'Orbitron', sans-serif;
    margin: auto;
    padding-top: 100px;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: rgb(255, 255, 255) !important; 
    font-size: 30px;
 }
 h2 {
    letter-spacing: 5px;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    color: whitesmoke

 }
 h3 { 
   font-size: 35px; 
   font-family: 'Orbitron';
   color: rgb(12, 51, 119);
   text-shadow: powderblue 0.1em 0.1em 0.2em;
 }
 .div-op2 h4 { 
   font-size: 20px; 
   font-family: orbitron;
   color: rgb(12, 51, 119);
   text-shadow: powderblue 0.1em 0.1em 0.2em;
   margin: 7px 5px;
 }
 h5{
   font-size: 25px;
   text-align: left;
 }
 caption {
    margin: 15px 0px 30px 0px;
    letter-spacing: 2px;
    font-family:orbitron;
    font-size: 17px;

 }
 .table1 {
    margin: 300px auto 200px auto;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
 }
 .table2 {
    margin: 3px auto;
    color: black;
    text-shadow: none !important;
    margin: 40px auto 55px auto;    
 }
 td {
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    padding: 0px 30px;
 }
 .td1 {
   text-decoration: underline rgb(184, 39, 160);
   color: black;
   text-shadow: none;
   padding: 3px 10px;
   background-color: rgb(255, 255, 255);
   border-radius: 3px;
   cursor: pointer;
   font-size: 50px;   
}
.td1:hover {
  background-color: var(--cor2);
  transition-duration: .5s;
}
 a {
    color: white;
    text-decoration: none;

 }
 .container {
    margin-left: 200px;
    background-color: white;
 }
 .item {
    margin: 10px;
    text-align: center;
    font-size: 1.1rem;
 }
 .div-op1 {
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin-left: 120px;
    font-size: 1.1rem;
    text-align: center;
    min-width:10vw;
    float: left;
    border-radius: 10px;
 }
 .div-op2 {
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0px 120px 0px 0px;
    font-size: 1.1rem;
    text-align: center;
    min-width:10vw;
    float: right;
    border-radius: 10px;
 }
 .div-op3 {
    width: 84%;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    float: left;
    margin: 50px 0px 30px 120px;
 }
 .div-op4 {
    width: 100%;
    background-color: rgb(255, 0, 0);
    font-size: 1.1rem;
    text-align: center;
    float: right;
    margin: 0px -8px 0px 0px;
    padding-left: 15px;        
 }
 .img {
    width: 250px;;
    border-radius: 180px;
    margin-bottom: 2rem;
 }
 #topo {
    scroll-behavior: smooth;
 }
 .texto p {
    text-align:justify;
    margin: 0px 55px 61px 55px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px 20px;
    background-color: var(--cor1); 
    
 }
 .texto p::before {
   content: "⇒";
 }
 .texto_bio {
    text-align: center;
    margin: 0px 55px 30px 55px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px 20px;
    background-color: var(--cor2);
 }
 .texto_projetos {
   text-align:justify;
   margin: -11px 150px 150px 150px;
   text-indent: 3.5em;
 }
 #apple {
   box-shadow: rgb(194, 187, 187) 0em 0em 0.5em 0.1em; 
   float: left;
   margin: 0px 50px 0px 150px;
 }
 #binance {
   box-shadow: rgb(194, 187, 187) 0em 0em 0.5em 0.1em; 
   float: right;
   margin: 0px 150px 0px 50px;
 }
 #chatgpt {
   box-shadow: rgb(194, 187, 187) 0em 0em 0.5em 0.1em ;
   float: left;
   margin: 0px 50px 0px 150px;
 }
 .rodape {
   text-align: center;
   padding: 15px 0px;
   color: rgb(255, 255, 255);
 }
